* {
  background: white;
  font-family: Optima, Sans-Serif;
}
h1 {
    font-family: Noteworthy, Comic Sans MS;
    font-size: 18pt;
}

h3 {
    font-weight: Normal;
}

.button{
    height: 30px;
    width: 75px;
    padding-top: 3px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: cornflowerblue;
    text-align: center;
    color: black;
    font-family: Optima, GillSans, Sans-Serif;
    font-size: 12pt;
    opacity: 0.65;
}

.button:hover {
    opacity: 1;
    color: white;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
}

textarea {
    margin-top: 3px;
    padding: 5px;
    width: 175px;
    border: 1px solid #000000;
    border-radius: 3px;
}
        
#result {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    background-color: #ddddff;
    list-style-type: none;
}

#result:empty {
    border-width: 0;
    padding: 0;
}


li {
    list-style-type: none;
    background: lightsteelblue;
    padding: 10px;
    margin: 5px;
    color: darkslateblue;
}

li:nth-child(odd) {
  background: silver;
  color: darkslateblue;
}
