* {
}

h1 {
    font-family: Noteworthy, Comic Sans MS;
    font-size: 18pt;
}

h3 {
	font-family: Optima, GillSans, sans-serif;
	font-size: 18px;
	font-weight: Normal;
}

p {
	font-family: Optima, GillSans, sans-serif;
	font-size: 14px;
}

legend {
	font-family: Optima, GillSans, sans-serif;
	margin: 5px;
	font-size: 15px;
	font-style: italic;
	color: grey;
}

.button {
    height: 30px;
    width: 75px;
    padding-top: 3px;
    margin: 5px;
    border-radius: 5px;
    background-color: cornflowerblue;
    text-align: center;
    color: black;
    font-family: Optima, GillSans, Sans-Serif;
	font-size: 14px;
    opacity: 0.65;
}

.button:hover {
    opacity: 1;
    color: white;
}

fieldset {
    margin: 5px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
}

textarea {
    margin: 5px;
    padding: 5px;
    width: 175px;
	font-family: 'Handlee', sans-serif;
	font-size: 14px;
    border: 1px solid #000000;
    border-radius: 3px;
}
        
#result {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    background-color: #ddddff;
    list-style-type: none;
}

#result:empty {
    border-width: 0;
    padding: 0;
}

li {
    list-style-type: none;
    background: lightsteelblue;
	font-family: 'Handlee', sans-serif;
	font-size: 14px;
    padding: 5px;
    margin: 5px;
    color: darkslateblue;
	border: 1px solid white;
	border-radius: 3px;
}

li:nth-child(odd) {
  background: silver;
  color: darkslateblue;
}
